{% extends 'base.html' %}

{% block title %} Information Retrieval {% endblock %}

{% block docs %}
  {% for doc in docs %}
    <li>
      <div class="collapsible-header">
        <div class="row">
          <div class="col s10 m10 l10 truncate">
            <i class="mdi-maps-place blue-text"></i>{{doc.titulo | safe}}
          </div>
          <div class="col s2 m2 l2 truncate">
            <div class="red-text right-align">{{doc.similarity_value | floatformat:6 | safe}}</div>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <p>
          <b class="blue-text">Category:</b> {{doc.categoria | safe}}<br>
          <b class="blue-text">Url:</b><a href="{{doc.url | safe}}" target="blank"> {{doc.url | safe}}</a><br>
          <b class="blue-text">Date:</b> {{doc.fecha | safe}}<br>
          <!--<b class="blue-text">New:</b> {{doc.noticia | safe | slice:":255"}}...<br>-->
        </p>
      </div>
    </li>
  {% endfor %}
{% endblock %}

{% block pags %}
  {% for page in pages%}
    <li id="page-{{page}}" class="waves-effect"><a href="/?search={{search}}&page={{page}}&begin_date={{begin_date}}&end_date={{end_date}}">{{page}}</a></li>
  {% endfor %}
{% endblock %}

{% block extra_scripts %}
  <script>
    $("#page-{{current_page}}").addClass('active');
  </script>
{% endblock %}