{% load staticfiles %}
<!DOCTYPE html>
  <html>
    <head>
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
      <title>{% block title %}{% endblock %}</title>
    </head>

    <body>

      {% block nav %}
        <nav>
          <div class="nav-wrapper blue">
            <div class="row">
              <div class="col s12 m12 l12">
                <form method="POST" action="/">
                  {% csrf_token %}
                  <div class="col s12 m6 l6">
                    <div class="input-field">
                      <input id="search" type="search" name="search" value="{{search}}"required>
                      <label for="search"><i class="mdi-action-search"></i></label>
                      <i class="mdi-navigation-close"></i>
                    </div>
                  </div>
                  <div class="col s6 m2 l2">
                    <input id="date_from" type="date" name="begin_date" class="datepicker" placeholder="Date from:">
                  </div>
                  <div class="col s6 m2 l2">
                    <input id="date_to" type="date" name="end_date" class="datepicker" placeholder="Date to:">
                  </div>
                  <div class="col s12 m2 l2 center">
                    <button class="btn waves-effect waves-light" type="submit">Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </nav>
      {% endblock %}

      <div class="container">

        {% block body %}
        <div class="row">
          <div class="col s12">
            <ul class="collapsible wrapper" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <div class="row">
                    <div class="col s6">
                      <i class="mdi-image-filter-drama blue-text"></i>Tittle
                    </div>
                    <div class="col s6">
                      <div class="red-text right-align">#Relation</div>
                    </div>
                  </div>
                </div>
              </li>
              {% block docs %} {% endblock %}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <ul class="pagination">
              <li class="waves-effect"><a href="/?search={{search}}&page=0&begin_date={{begin_date}}&end_date={{end_date}}"><i class="mdi-navigation-chevron-left"></i></a></li>
              {% block pags %}{% endblock %}
              <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>

        {% endblock %}

      </div>
      <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/init.js' %}"></script>

      <style type="text/css">
        .pagination li.active {
          background-color: #1976d2;
        }
        ul.collapsible.wrapper {
          color: #546e7a;
        }
        div.collapsible-body > p{
        }
        .container {
          width: 85%;
        }
      </style>
      {% block extra_scripts %}{% endblock %}
    </body>
  </html>